body {
	background-color: cyan;
}
#picture1 {
	background-color: pink;
}
#picture2 {
	background-color: orange;
}
#picture3 {
	background-color: teal;
}
#picture4 {
	background-color: lime;
}
#picture5 {
	background-color: green;
}
#picture6 {
	background-color: yellow;
}
#picture7 {
	background-color: violet;
}
#picture8 {
	background-color: red;
}
.fit {
	max-width: 100%;
	max-height: 100%;
}
.center {
	display: block;
	margin: auto;
}